<div class="row">

    <div class="page-header">
        <h1 class="text-lobster text-very-big">Showcase of konami animations</h1>
    </div>

    <p class="lead">
        A recap of some animations triggered by various konami codes on the <a href="http://www.sfeir.com/" target="_blank">SFEIR</a> website.
    </p>

    <div class="container-cards">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="images/halloween.png" alt="halloween" style="width: 300px; height: 200px;">
                    <div class="caption">
                        <h3 class="text-creepster">Halloween 2013</h3>
                        <p>A 2D animation based on <a href="http://code.google.com/p/box2dweb/" target="_blank">box2dweb</a>. And you can add more items when clicking on the cauldron or the tomb.</p>
                        <p><button type="button" class="btn btn-primary btn-lg" ng-click="launch('halloween')" ng-disabled="isRunningAnimation"><span class="glyphicon glyphicon-play"></span></button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="images/octocats.png" alt="octocats" style="width: 300px; height: 200px;">
                    <div class="caption">
                        <h3 class="text-code-pro">Octocats</h3>
                        <p>Do you know octobiwan? stormtroopocat? or spidertocat? Retrieves the <strong>Github</strong>'s mascot pictures in a random order from the <a href="http://octodex.github.com/" target="_blank">octodex</a>.</p>
                        <p><button type="button" class="btn btn-primary btn-lg" ng-click="launch('octocats')" ng-disabled="isRunningAnimation"><span class="glyphicon glyphicon-play"></span></button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="images/cornify.png" alt="cornify" style="width: 300px; height: 200px;">
                    <div class="caption">
                        <h3 class="text-candy">Cornify</h3>
                        <p>Unicorns, rainbows and smiling suns everywhere! This classic from <a href="http://www.cornify.com/" target="_blank">Cornify</a> always spread happiness to any website.</p>
                        <p><button type="button" class="btn btn-primary btn-lg" ng-click="launch('cornify')" ng-disabled="isRunningAnimation"><span class="glyphicon glyphicon-play"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="margin: 40px 0 20px;padding-top: 20px;border-top: 1px solid #eeeeee;">
        <p style="text-align: center"><img style="width: 50%" src="images/konami_code.svg"></p>
    </div>

    <div id="trick_container" class="hide_container">
        <div id="trick_or_treat">Trick or treat?</div>
    </div>

    <ng-konami />
</div>
